# stuff which should not be in the repo
.DS_Store
secrets.json
website
website/*
backups
backups/*
logs
logs/*
collection_cache.json
collection_cache_override.json
last_processed_index.txt
lastfm-secrets.json
2023-*
content
.discogs
.dbindex.json
