{
    "discogs_access_token": "put_your_discogs_access_token_here",
    "discogs_username": "username_of_the_collection_owner",
    "spotify_client_id": "put_your_spotify_client_id_here",
    "spotify_client_secret": "put_your_spotify_client_secret_here"
    "apple_music_client_id": "put_your_apple_music_key_id_here",
    "apple_developer_team_id": "put_your_apple_music_team_id_here"
}