{
    "discogs_access_token": "put_your_discogs_access_token_here",
    "discogs_username": "username_of_the_collection_owner",
    "spotify_client_id": "put_your_spotify_client_id_here",
    "spotify_client_secret": "put_your_spotify_client_secret_here"
}